<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Weather</title>
</head>
<body>

  <div class="main-content">
{{>header}}
{{>darkmode}}
<p>working prototype of the mockup design(production env)</p>
  
  <form>
  <input type="text" placeholder="enter location  ">
  <button type="submit">Search</button>
</form>

<div id="loader">
    <svg id="svg" >
  <path class="path-1" fill="#6B04A8"    d="M73 50C73 37.3 62.7 27 50 27C37.3 27 27 37.3 27 50M30.9 50C30.9 39.5 39.4 30.9 50 30.9C60.6 30.9 69.1 39.5 69.1 50">
     <animateTransform 
    attributeName="transform" 
    attributeType="XML" 
    type="rotate"
    dur="1s" 
    to="0 50 50" 
    from="360 50 50"
    repeatCount="indefinite" /> -->
    </path>
   <path class="path-2"  fill="#E0E3E9" d="M73 50C73 62.7 62.7 73 50 73C37.3 73 27 62.7 27 50M30.9 50C30.9 60.5 39.4 69.1 50 69.1C60.6 69.1 69.1 60.5 69.1 50">
     <animateTransform 
    attributeName="transform" 
    attributeType="XML" 
    type="rotate"
    dur="1s" 
    to="0 50 50" 
    from="360 50 50"
    repeatCount="indefinite" /> 
   </path> 
  </svg>
 
  </div>

<div id="error">

</div>
  <div id="data">
  
  </div>
  <p id="area"></p>
  </div>
 {{>footer}}
  <script src="/js/test.js"></script>
</body>
</html>