<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Weather</title>
</head>
<body>

  <div class="main-content">
{{>header}}
{{>darkmode}}
<p>working prototype of the mockup design(production env)</p>
  
  <form>
  <input id="inputbox" type="text" placeholder="enter location  ">
  <button type="submit">Search</button>
</form>

{{>loader}}


<div id="error">

</div>
  <div id="data">
  
  </div>
  <p id="area"></p>
  </div>
 {{>footer}}
 
  <script src="/js/test.js"></script>
  <script src="/js/bundle.js"></script>
  
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.10/lottie.js"></script> --}}
  {{!-- <script src="/js/loader.js"></script> --}}
  <script src="/js/darkmode.js"></script>
</body>
</html>