<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/modal.css">
  
  <title>Help page</title>
</head>
<body>
  <div class="main-content">
    {{>header}}
    {{>darkmode}}
  {{content}}
  </div>
    <button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      {{>icon}}
  </div>

</div> 
    

        
  

  

  
  {{>footer}}
  <script src="/js/darkmode.js"></script>
  <script src="/js/modal.js"></script>
</body>
</html>