
{{>loader}}

<div id="error">

</div>

<div class="card">
 <div class="data-content">
   <img id="weather-image" src="" alt="">
   <p id="temp"></p>
 </div>

 <p id="description"></p>
 <p id="humidity"></p>
 <p id="location"> </p>
</div>