<table class="table table-bordered">
	    <caption><h3>Icon list<a href="#Icon-list" class="wiki-anchor"></a></h3></caption>
		<tbody><tr>
			<th>Day icon</th>
			<th>Night icon</th>
			<th>Description</th>
		</tr>
		<tr>
			<td> <img src="http://openweathermap.org/img/wn/01d@2x.png" width="50px" height="50px" alt="">  </td>
			<td>  <img src="http://openweathermap.org/img/wn/01n@2x.png" width="50px" height="50px" alt="">  </td>
			<td> clear sky</td>
		</tr>
		<tr>
			<td><img src="http://openweathermap.org/img/wn/02d@2x.png" width="50px" height="50px" alt=""> </td>
			<td>  <img src="http://openweathermap.org/img/wn/02n@2x.png" width="50px" height="50px" alt="">  </td>
			<td> few clouds </td>
		</tr>
		<tr>
			<td> <img src="http://openweathermap.org/img/wn/03d@2x.png" width="50px" height="50px" alt="">  </td>
			<td>   <img src="http://openweathermap.org/img/wn/03n@2x.png" width="50px" height="50px" alt="">  </td>
			<td> scattered clouds </td>
		</tr>
		<tr>
			<td>  <img src="http://openweathermap.org/img/wn/04d@2x.png" width="50px" height="50px" alt=""> </td>
			<td>   <img src="http://openweathermap.org/img/wn/04n@2x.png" width="50px" height="50px" alt="">  </td>
			<td> broken clouds </td>
		</tr>
		<tr>
			<td>  <img src="http://openweathermap.org/img/wn/09d@2x.png" width="50px" height="50px" alt="">  </td>
			<td>  <img src="http://openweathermap.org/img/wn/09n@2x.png" width="50px" height="50px" alt="">  </td>
			<td> shower rain </td>
		</tr>
		<tr>
			<td>  <img src="http://openweathermap.org/img/wn/10d@2x.png" width="50px" height="50px" alt="">  </td>
			<td>  <img src="http://openweathermap.org/img/wn/10n@2x.png" width="50px" height="50px" alt="">  </td>
			<td> rain </td>
		</tr>
		<tr>
			<td>  <img src="http://openweathermap.org/img/wn/11d@2x.png" width="50px" height="50px" alt="">  </td>
			<td>  <img src="http://openweathermap.org/img/wn/11n@2x.png" width="50px" height="50px" alt="">  </td>
			<td> thunderstorm </td>
		</tr>
		<tr>
			<td>  <img src="http://openweathermap.org/img/wn/13d@2x.png" width="50px" height="50px" alt="">  </td>
			<td> <img src="http://openweathermap.org/img/wn/13n@2x.png" width="50px" height="50px" alt="">  </td>
			<td> snow  </td>
		</tr>
		<tr>
			<td> <img src="http://openweathermap.org/img/wn/50d@2x.png" width="50px" height="50px" alt="">  </td>
			<td> <img src="http://openweathermap.org/img/wn/50n@2x.png" width="50px" height="50px" alt="">  </td>
			<td> mist </td>
		</tr>
	</tbody></table>