:root {
  --font-color: #424242;
  --bg-color: #fff;
  --border-top: #222;
  --shadow:#eee;
}


[data-theme="dark"] {
  --font-color: #e1e1ff;
  --bg-color: #161625;
   --border-top:#eee;
   --shadow:none
}





body{
   background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  flex: 1;
}

footer{
  color:var(--font-color);
  border-top: 1px solid var(--border-top);
  margin-top:16px;
  padding: 16px 0;
}


header{
  margin-top: 16px;
  margin-bottom:48px ;
}

h1{
  font-size: 64px;
  margin-bottom: 16px;
}

header a{
  color: var(--font-color);
  margin-right: 16px;
  text-decoration: none;
}

.potrait{
  width: 250px;
}

/* .main-content{
  display: flex;

} */


input{
  border: 1px solid var(--border-top);
  padding: 8px;
}

button{
  cursor: pointer;
  border: 1px solid #888;
  background: #888;
  color: white;
  padding: 8px;
}

#loader{
 display: none;
 position: relative;
 left: 24px;
 top:40px;
 width: 250px;
 height: 250px;
}

.card{
  display: none;
  width: 300px;
  height: 300px;
  padding: 16px ;
  flex-direction: column;
  
  margin: 16px 0;
  box-shadow: 0 8px 6px -6px var(--shadow);
  background: linear-gradient(#a1c4fd,#c2e9fb);
}

#weather-image{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#temp{
  font-size: 36px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: #888;
  text-align: center;
  position: relative;
  left:30px;
  top:-30px;
}


#description{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  color: #888;
  position: relative;
  height: 50px;
  width: 100%;
}
#humidity{
  font-size: 14px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  color: #888;
  position: relative;
  height: 50px;
  width: 100%;
}

#location{
  color: #444;
}

.data-content{
  display: flex;
}

#error{
  margin-top: 24px;
}


#data{
  display: none;
  border: 4px solid #313c42;
  background:  #487c97;
  
  margin-top: 10px;
  border-radius: 10px;
  height: 150px;
  width: 400px;
  padding: 36px;
  align-items: center;
}

.forecast{
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
}

.forecast p{
  font-weight: 600;
    font-size: 16px;
    color: rgb(80,80,80);
    line-height: 1.4;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* .icon{
  width: 50px;
  height: 50px;
} */

  .icon{
    background: transparent;
  }

@media only screen and (max-width: 600px) {
  
  body{
    margin: 10px;
  }

  #data{
    width: 300px;
    padding: 12px;
  }
 
  .forecast{
    margin:5px;
  }

  .forecast p {
    font-size: 12px;
    font-weight: 900;
  }

}


.theme-switch-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
}

.theme-switch-wrapper em{
  
    margin-left: 10px;
    font-size: 0.8rem;
  
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.table{
  font-size: 14px;
}

.table-bordered{
  border: 1px solid #ddd;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "Space Grotesk", Arial, sans-serif;
  color:#48484A;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table-bordered>tbody>tr>th {
  border: 1px solid #ddd;
}

.table>tbody>tr>th{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

th {
  text-align: left;
  display: table-cell;
    
    font-weight: bold;
}

.table.table-bordered td {
  font-size: 14px;
}

.table-bordered>tbody>tr>td{
  border: 1px solid #ddd;
}

.table>tbody>tr>td{
  padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

td{
  display: table-cell;
}